.row
  .col-md-8.col-md-offset-2
    - @website.errors.full_messages.each do |msg|
      %p= msg

    = form_for @website, html: {class: 'form-horizontal'} do |f|
      .form-group
        = f.label :url, class: 'col-md-2 control-label'
        .col-md-10
          = f.text_field :url, class: 'form-control', placeholder: 'http://website-url.com'
      .col-md-10.col-md-offset-2
        = f.submit class: 'btn btn-primary'
