!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= "Mouse recorder"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body{class: controller_name}
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          = link_to 'Dummy App', root_path, class: 'navbar-brand'
    .container.main-container
      .row
        .col-md-12
          = yield
